{{> header}}

    <div>
	    <a href="https://letterboxd.com/film/thoroughbreds-2017/" target="_blank"><img src="/images/1.jpg" class="rest"></a>
		<a href="https://letterboxd.com/film/sicario-day-of-the-soldado/" target="_blank"><img src="/images/2.jpg" class="rest"></a>
		<a href="https://letterboxd.com/film/spider-man-into-the-spider-verse/" target="_bla"><img src="/images/4.jpg" class="rest"></a>
		<a href="https://letterboxd.com/film/widows-2018/" target="_blank"><img src="/images/3.jpg" class="rest"></a>
		<a href="https://letterboxd.com/film/ready-player-one/" target="_blank"><img src="/images/5.jpg" class="rest"></a>
		<a href="https://letterboxd.com/film/three-colors-white/" target="_blank"><img src="/images/6.jpg" class="rest"></a>
		<a href="https://letterboxd.com/film/there-will-be-blood/" target="_blank"><img src="/images/7.jpg" class="rest"></a>
		<a href="https://letterboxd.com/film/la-haine/" target="_blank"><img src="/images/8.jpg" class="rest"></a> 
		<a href="https://letterboxd.com/film/american-honey/" target="_blank"><img src="/images/15.jpg" class="rest"></a>
		<a href="https://letterboxd.com/film/mistress-america/" target="_blank"><img src="/images/11.jpg" class="rest"></a>
		<a href="https://letterboxd.com/film/monty-python-and-the-holy-grail/" target="_blank"><img src="/images/10.jpg" class="rest"></a>
		<a href="https://letterboxd.com/film/suspiria-2018/" target="_blank"><img src="/images/12.jpg" class="rest"></a>
		<a href="https://letterboxd.com/film/chungking-express/" target="_blank"><img src="/images/13.jpg" class="last"></a>
		<a href="https://letterboxd.com/film/tangerine/" target="_blank"><img src="/images/14.jpg" class="last"></a>
		<a href="https://letterboxd.com/film/the-intouchables/" target="_blank"><img src="/images/9.jpg" class="last"></a>
	</div>

{{> footer}}