{{> header}}

    <div class="imggrid">

	    <a href="https://letterboxd.com/film/thoroughbreds-2017/" target="_blank">
			<div class="container">
				<img src="/images/1.jpg" class="image">
				<div class="overlay">
					<div class="text">
						<p>Thoroughbreds</p>
					</div>
				</div>
			</div>
		</a>

		<a href="https://letterboxd.com/film/sicario-day-of-the-soldado/" target="_blank">
			<div class="container">
				<img src="/images/2.jpg" class="image">
				<div class="overlay">
					<div class="text">
						<p>Sicario: Day of the Soldado</p>
					</div>
				</div>
			</div>
		</a>

		<a href="https://letterboxd.com/film/spider-man-into-the-spider-verse/" target="_bla">
			<div class="container">
				<img src="/images/4.jpg" class="image">
				<div class="overlay">
					<div class="text">
						<p>Spider-Man: Into the Spider-Verse</p>
					</div>
				</div>
			</div>
		</a>

		<a href="https://letterboxd.com/film/widows-2018/" target="_blank">
			<div class="container">
				<img src="/images/3.jpg" class="image">
				<div class="overlay">
					<div class="text">
						<p>Widows</p>
					</div>
				</div>
			</div>			
		</a>
		
		<a href="https://letterboxd.com/film/ready-player-one/" target="_blank">
			<div class="container">
				<img src="/images/5.jpg" class="image">
				<div class="overlay">
					<div class="text">
						<p>Ready Player One</p>
					</div>
				</div>			
			</div>
		</a>

		<a href="https://letterboxd.com/film/three-colors-white/" target="_blank">
			<div class="container">
				<img src="/images/6.jpg" class="image">
				<div class="overlay">
					<div class="text">
						<p>Three Colors: White</p>
					</div>
				</div>			
			</div>
		</a>

		<a href="https://letterboxd.com/film/there-will-be-blood/" target="_blank">
			<div class="container">
				<img src="/images/7.jpg" class="image">
				<div class="overlay">
					<div class="text">
						<p>There Will Be Blood</p>
					</div>
				</div>
			</div>			
		</a>
		
		<a href="https://letterboxd.com/film/la-haine/" target="_blank">
			<div class="container">
				<img src="/images/8.jpg" class="image">
				<div class="overlay">
					<div class="text">
						<p>La Haine</p>
					</div>
				</div>
			</div>			
		</a> 

		<a href="https://letterboxd.com/film/american-honey/" target="_blank">
			<div class="container">
				<img src="/images/15.jpg" class="image">
				<div class="overlay">
					<div class="text">
						<p>American Honey</p>
					</div>
				</div>
			</div>		
		</a>

		<a href="https://letterboxd.com/film/mistress-america/" target="_blank">
			<div class="container">
				<img src="/images/11.jpg" class="image">
				<div class="overlay">
					<div class="text">
						<p>Mistress America</p>
					</div>
				</div>
			</div>		
		</a>

		<a href="https://letterboxd.com/film/monty-python-and-the-holy-grail/" target="_blank">
			<div class="container">
				<img src="/images/10.jpg" class="image">
				<div class="overlay">
					<div class="text">
						<p>Monty Python And The Holy Grail</p>
					</div>
				</div>			
			</div>
		</a>

		<a href="https://letterboxd.com/film/suspiria-2018/" target="_blank">
			<div class="container">
				<img src="/images/12.jpg" class="image">
				<div class="overlay">
					<div class="text">
						<p>Suspiria</p>
					</div>
				</div>
			</div>
		</a>

		<a href="https://letterboxd.com/film/chungking-express/" target="_blank">
			<div class="container">
				<img src="/images/13.jpg" class="image">
				<div class="overlay">
					<div class="text">
						<p>Chungking Express</p>
					</div>
				</div>
			</div>
		</a>

		<a href="https://letterboxd.com/film/tangerine/" target="_blank">
			<div class="container">
				<img src="/images/14.jpg" class="image">
				<div class="overlay">
					<div class="text">
						<p>Tangerine</p>
					</div>
				</div>
			</div>
		</a>
		
		<a href="https://letterboxd.com/film/the-intouchables/" target="_blank">
			<div class="container">
				<img src="/images/9.jpg" class="image">
				<div class="overlay">
					<div class="text">
						<p>The Intouchables</p>
					</div>
				</div>
			</div>
		</a>

	</div>

{{> footer}}