<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/icons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
	<link rel="manifest" href="/icons/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" href="/stylesheets/style.css">
    <title>ZSU 2018 FAVOURITES</title>
</head>
<body>

    {{> header}}

	<ul class="nav">
		<li><a href="/">Home</a></li>
		<li><a href="/watchlist">Watchlist</a></li>
		<li id="act"><a id="act" href="/posts">Posts</a></li>
	</ul>
    
    <div>
	    <a href="https://letterboxd.com/film/thoroughbreds-2017/" target="_blank"><img src="/images/1.jpg" class="rest"></a>
		<a href="https://letterboxd.com/film/sicario-day-of-the-soldado/" target="_blank"><img src="/images/2.jpg" class="rest"></a>
		<a href="https://letterboxd.com/film/spider-man-into-the-spider-verse/" target="_bla"><img src="/images/4.jpg" class="rest"></a>
		<a href="https://letterboxd.com/film/widows-2018/" target="_blank"><img src="/images/3.jpg" class="rest"></a>
		<a href="https://letterboxd.com/film/ready-player-one/" target="_blank"><img src="/images/5.jpg" class="rest"></a>
		<a href="https://letterboxd.com/film/three-colors-white/" target="_blank"><img src="/images/6.jpg" class="rest"></a>
		<a href="https://letterboxd.com/film/there-will-be-blood/" target="_blank"><img src="/images/7.jpg" class="rest"></a>
		<a href="https://letterboxd.com/film/la-haine/" target="_blank"><img src="/images/8.jpg" class="rest"></a> 
		<a href="https://letterboxd.com/film/american-honey/" target="_blank"><img src="/images/15.jpg" class="rest"></a>
		<a href="https://letterboxd.com/film/mistress-america/" target="_blank"><img src="/images/11.jpg" class="rest"></a>
		<a href="https://letterboxd.com/film/monty-python-and-the-holy-grail/" target="_blank"><img src="/images/10.jpg" class="rest"></a>
		<a href="https://letterboxd.com/film/suspiria-2018/" target="_blank"><img src="/images/12.jpg" class="rest"></a>
		<a href="https://letterboxd.com/film/chungking-express/" target="_blank"><img src="/images/13.jpg" class="last"></a>
		<a href="https://letterboxd.com/film/tangerine/" target="_blank"><img src="/images/14.jpg" class="last"></a>
		<a href="https://letterboxd.com/film/the-intouchables/" target="_blank"><img src="/images/9.jpg" class="last"></a>
	</div>

</body>
</html>