{{> header}}

    <div class="imggrid">

        
        <a href="https://letterboxd.com/film/once-upon-a-time-in-hollywood/" target="_blank">
            <div class="container">
                <img src="/images/a1.jpg" class="image">
                <div class="overlay">
                    <div class="text">
                        <p>Once Upon A Time In Hollywood</p>
                    </div>
                </div>            
            </div>            
        </a>
        
        <a href="https://letterboxd.com/film/the-favourite/" target="_blank">
            <div class="container">
                <img src="/images/a2.jpg" class="image">
                <div class="overlay">
                    <div class="text">
                        <p>The Favourite</p>
                    </div>
                </div>
            </div>
        </a>

        <a href="https://letterboxd.com/film/glass-2019/" target="_blank">
            <div class="container">
                <img src="/images/a3.jpg" class="image">
                <div class="overlay">
                    <div class="text">
                        <p>Glass</p>
                    </div>
                </div>
            </div>
        </a>

        <a href="https://letterboxd.com/film/john-wick-3-parabellum/" target="_blank">
            <div class="container">
                <img src="/images/a4.jpg" class="image">
                <div class="overlay">
                    <div class="text">
                        <p>John Wick: Chapter 3 Parabellum</p>
                    </div>
                </div>            
            </div>
        </a>

        <a href="https://letterboxd.com/film/joker-2019/" target="_blank">
            <div class="container">
                <img src="/images/a5.jpg" class="image">
                <div class="overlay">
                    <div class="text">
                        <p>Joker</p>
                    </div>
                </div>
            </div>
        </a>

        <a href="https://letterboxd.com/film/the-beach-bum/" target="_blank">
            <div class="container">
                <img src="/images/a6.jpg" class="image">
                <div class="overlay">
                    <div class="text">
                        <p>The Beach Bum</p>
                    </div>
                </div>
            </div>
        </a>

        <a href="https://letterboxd.com/film/us-2019/" target="_blank">
            <div class="container">
                <img src="/images/a7.jpg" class="image">
                <div class="overlay">
                    <div class="text">
                        <p>Us</p>
                    </div>
                </div>
            </div>
        </a>

        <a href="https://letterboxd.com/film/vice-2018/" target="_blank">
            <div class="container">
                <img src="/images/a8.jpg" class="image">
                <div class="overlay">
                    <div class="text">
                        <p>Vice</p>
                    </div>
                </div>
            </div>
        </a>

        <a href="https://letterboxd.com/film/serenity-2019/" target="_blank">
            <div class="container">
                <img src="/images/a9.jpg" class="image">
                <div class="overlay">
                    <div class="text">
                        <p>Serenity</p>
                    </div>
                </div>
            </div>
        </a>

    </div>

{{> footer}}