{{> header}}

    <div>
        <a href="https://letterboxd.com/film/once-upon-a-time-in-hollywood/" target="_blank"><img src="/images/a1.jpg" class="rest"></a>
        <a href="https://letterboxd.com/film/the-favourite/" target="_blank"><img src="/images/a2.jpg" class="rest"></a>
        <a href="https://letterboxd.com/film/glass-2019/" target="_blank"><img src="/images/a3.jpg" class="rest"></a>
        <a href="https://letterboxd.com/film/john-wick-3-parabellum/" target="_blank"><img src="/images/a4.jpg" class="rest"></a>
        <a href="https://letterboxd.com/film/joker-2019/" target="_blank"><img src="/images/a5.jpg" class="rest"></a>
        <a href="https://letterboxd.com/film/the-beach-bum/" target="_blank"><img src="/images/a6.jpg" class="rest"></a>
        <a href="https://letterboxd.com/film/us-2019/" target="_blank"><img src="/images/a7.jpg" class="last"></a>
        <a href="https://letterboxd.com/film/vice-2018/" target="_blank"><img src="/images/a8.jpg" class="last"></a>
        <a href="https://letterboxd.com/film/serenity-2019/" target="_blank"><img src="/images/a9.jpg" class="last"></a>
    </div>

{{> footer}}