{{> header}}

    <div class="add">
        <form action="/add" method="post">
            <label for="watched">Watched</label>
            <input type="date" name="watched" autocomplete="off">
            <br>
            <label for="title">Name</label>
            <input type="text" name="title" autocomplete="off">
            <br>
            <label for="year">Year</label>
            <input type="number" name="year" min="1924" max="2019" autocomplete="off">
            <br>
            <label for="rating">Rating</label>
            <input type="number" name="rating" min="0.5" max="5" step="0.5" autocomplete="off">
            <br>
            <label for="rewatch">Rewatch</label>
            <input type="checkbox" name="rewatch" value="yes">
            <br>
            <input type="submit" name="submit">
        </form>
    </div>

{{> footer}}