<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>ZSU FILM DIARY</title>
</head>
<body>
    <h1>ZSU FILM DIARY</h1>
    
    {{{getTable}}}

</body>
</html>