body {
	font-family: 'Helvetica';
	text-transform: uppercase;
}

h1 {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 0px;
	font-weight: bold;
	font-size: 20px;
}

table {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}

th, td {
	text-align: left;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 12px;
}

ul {
	margin-top: 0px;
	text-align: center;
	padding: 0px;
	margin-bottom: 25px;
}

li {
  display: inline;
  font-size: 10px;
}

a {
	text-decoration: none;
	color: black;
	margin-bottom: 25px;
}