body {
	height: auto;
	margin: 0;
	width: 100%;
	font-family: 'Helvetica';
	background-color: #ffffff;
	border-width: 10px;
    border-style: solid;
    border-image: linear-gradient(to right, #dd0c07, #9a1426, #671324, #36111a, #000000) 1 ;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

h1 {
	font-family: 'Garamond', 'Times', 'Times New Roman';
	text-align: center;
	text-transform: capitalize;
	margin-top: 10px;
	margin-bottom: 0px;
	font-style: italic;
	font-weight: bold;
	font-size: 20px;
}

table {
	text-transform: uppercase;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}

th, td {
	text-align: left;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 12px;
}

img.rest {
	float: left;
	width: 30%;		
	margin: 1.66%;
}

img.last {
	float: left;
	width: 30%;		
	margin: 1.66%;
	margin-bottom: 25px;
}

div {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
    width: 50%;
}

ul.nav {
	margin-top: 0px;
	text-align: center;
	padding: 0px;
	margin-bottom: 25px;
}

ul.lists {
	margin-top: 0px;
	padding: 0px;
	list-style: none;
	font-size: 12px;
}

ul.lists li {
	text-align: center;
}

ul.nav li {
  display: inline;
  font-size: 10px;
}

a {
	text-transform: uppercase;
	text-decoration: none;
	color: black;
	margin-bottom: 25px;
}