body {
	height: auto;
	margin: 0;
	width: 100%;
	font-family: 'Helvetica';
	background-color: #ffffff;
	border-width: 10px;
    border-style: solid;
    border-image: linear-gradient(to right, #dd0c07, #9a1426, #671324, #36111a, #000000) 1 ;
    border-bottom-width: 0px;
    border-left-width: 0px;
	border-right-width: 0px;
	overflow: scroll;
	text-align: center;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

h1 {
	font-family: 'Baskerville Old Face', 'Garamond', 'Times New Roman', 'Times';
	text-align: center;
	text-transform: capitalize;
	margin-top: 10px;
	margin-bottom: 0px;
	font-style: italic;
	font-weight: normal;
	font-size: 20px;
}

table {
	text-transform: uppercase;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}

th, td {
	text-align: left;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 12px;
}

img.last {
	margin-bottom: 25px;
}

.imggrid {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
    width: 50%;
}

ul.nav {
	margin-top: 0px;
	text-align: center;
	padding: 0px;
	margin-bottom: 25px;
}

ul.lists {
	margin-top: 0px;
	padding: 0px;
	list-style: none;
	font-size: 12px;
}

ul.lists li {
	text-align: center;
}

ul.nav li {
  display: inline;
  font-size: 11px;
  padding: 0px;
  padding-right: 5px;
}

a {
	text-transform: uppercase;
	text-decoration: none;
	color: black;
	margin-bottom: 25px;
}

.add {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

label, input {
	margin-bottom: 7px;
	text-transform: uppercase;
}

input[type=text] {
	border: none;
	border-bottom-style: solid;
	border-bottom-width: 1px;	
}

*:focus {
    outline: none;
}

label {
	display: inline-block;
	text-align: left;
	width: 80px;
	font-size: 13px;
}

input[type=text], input[type=checkbox], input[type="number"] {
	display: inline-block;
	text-align: left;
	width: 140px;
}

input[type=submit] {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	background-color: white;
}

input[type=checkbox] {
	margin: 0;
}

input[type=date], input[type="number"] {
	border: none;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	font-family: 'Helvetica';
}

.active {
	text-decoration: underline;
}

.container {
	position: relative;
	width: 30%;
	float: left;
	margin: 1.66%;
  }
  
  .image {
	display: block;
	width: 100%;
	height: auto;
  }
  
  .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: black;
  }
  
  .container:hover .overlay {
	background-color: rgba(0, 0, 0, 0.75);
	opacity: 1;
  }
  
  .container:hover .text {
	opacity: 1;
  }
  
  .text {
	color: white;
	font-size: 0.9vw;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	font-style: italic;
  }